# Node.js modules
node_modules/

# Build Astro
/.astro/

# Build do TinaCMS (admin)
admin/

# Public uploads (arquivos enviados pelo CMS)
public/uploads/

# Cache do Vite (usado internamente pelo Astro)
.vite/

# Cache do Svelte (usado internamente pelo Astro)
.svelte-kit/

# Cache do Tailwind (usado internamente pelo Astro)
.tailwind-cache/    

# arquivos mdx (não subir arquivos de markdown)
*.md
*.mdx
# Arquivos de configuração do editor (não subir arquivos de configuração do editor)
.vscode/
.idea/

# Logs de erro
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Arquivos do sistema (não subir coisas de Mac/Windows)
.DS_Store
Thumbs.db

# Variáveis de ambiente (caso tenha futuro .env)
.env
.env.*
